<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csfu.cpsc41101.cs411assignment3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CS411Assignment3"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.csfu.cpsc41101.cs411assignment3.DetailStudentActivity"
            android:parentActivityName="com.csfu.cpsc41101.cs411assignment3.SummaryLVActivity">
        </activity>
        <activity android:name="com.csfu.cpsc41101.cs411assignment3.AddStudentActivity"
            android:parentActivityName="com.csfu.cpsc41101.cs411assignment3.SummaryLVActivity">
        </activity>
        <activity android:name="com.csfu.cpsc41101.cs411assignment3.SummaryLVActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>